<!-- ##### Breadcumb Area Start ##### -->
<div
  class="breadcumb_area bg-img"
  style="background-image: url(assets/img/bg-img/breadcumb.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="page-title text-center">
          <h2>dresses</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <div class="shop_sidebar_area">
          <!-- ##### Single Widget ##### -->
          <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Catagories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
              <ul id="menu-content2" class="menu-content collapse show">
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#clothing">
                  <a>clothing</a>
                  <ul class="sub-menu collapse show" id="clothing">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Bodysuits</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Hoodies &amp; Sweats</a></li>
                    <li><a href="#">Jackets &amp; Coats</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Pants &amp; Leggings</a></li>
                    <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                    <li><a href="#">Shirts &amp; Blouses</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Sweaters &amp; Knits</a></li>
                  </ul>
                </li>
                <!-- Single Item -->
                <li
                  data-toggle="collapse"
                  data-target="#shoes"
                  class="collapsed"
                >
                  <a>shoes</a>
                  <ul class="sub-menu collapse" id="shoes">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Bodysuits</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Hoodies &amp; Sweats</a></li>
                    <li><a href="#">Jackets &amp; Coats</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Pants &amp; Leggings</a></li>
                    <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                    <li><a href="#">Shirts &amp; Blouses</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Sweaters &amp; Knits</a></li>
                  </ul>
                </li>
                <!-- Single Item -->
                <li
                  data-toggle="collapse"
                  data-target="#accessories"
                  class="collapsed"
                >
                  <a>accessories</a>
                  <ul class="sub-menu collapse" id="accessories">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Bodysuits</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Hoodies &amp; Sweats</a></li>
                    <li><a href="#">Jackets &amp; Coats</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Pants &amp; Leggings</a></li>
                    <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                    <li><a href="#">Shirts &amp; Blouses</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Sweaters &amp; Knits</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <!-- ##### Single Widget ##### -->
          <div class="widget price mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Filter by</h6>
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Price</p>

            <div class="widget-desc">
              <div class="slider-range">
                <ngx-slider
                  [options]="options"
                  (mouseup)="sliderChange()"
                  [(value)]="value"
                  class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                >
                  <!-- <div
                    class="ui-slider-range ui-widget-header ui-corner-all"
                  ></div>
                  <span
                    class="ui-slider-handle ui-state-default ui-corner-all"
                    tabindex="0"
                  ></span>
                  <span
                    class="ui-slider-handle ui-state-default ui-corner-all"
                    tabindex="0"
                  ></span> -->
                </ngx-slider>

                <div class="range-price">Range: $0.00 - ${{ value }}</div>
              </div>
            </div>
          </div>

          <!-- ##### Single Widget ##### -->
          <div class="widget color mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Color</p>
            <div class="widget-desc">
              <ul class="d-flex" *ngFor="let product of colors">
                <li><a class="color1" (change)="filterColor()"></a></li>
                <li><a class="color2"></a></li>
                <li><a class="color3"></a></li>
                <li><a class="color4"></a></li>
                <li><a class="color5"></a></li>
                <li><a class="color6"></a></li>
                <li><a class="color7"></a></li>
                <li><a class="color8"></a></li>
                <li><a class="color9"></a></li>
                <li><a class="color10"></a></li>
              </ul>
            </div>
          </div>

          <!-- ##### Single Widget ##### -->
          <div class="widget brands mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Brands</p>
            <div class="widget-desc">
              <ul>
                <li><a href="#">Asos</a></li>
                <li><a href="#">Mango</a></li>
                <li><a href="#">River Island</a></li>
                <li><a href="#">Topshop</a></li>
                <li><a href="#">Zara</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-9">
        <div class="shop_grid_product_area">
          <div class="row">
            <div class="col-12">
              <div
                class="product-topbar d-flex align-items-center justify-content-between"
              >
                <!-- Total Products -->
                <div class="total-products">
                  <p><span>9</span> products found</p>
                </div>
                <!-- Sorting -->
                <div class="product-sorting d-flex">
                  <p>Sort by:</p>
                  <form [formGroup]="shopForm">
                    <select
                      nice-select
                      [attr.data-value]="sortByselect"
                      (change)="sort($event)"
                      bindValue="id"
                      bindLabel="name"
                      id="productSort"
                      formControlName="productSort"
                    >
                      <ng-container *ngFor="let data of sortByselect">
                        <option>{{ data.name }}</option>
                      </ng-container>
                    </select>
                    <input type="submit" class="d-none" value="" />
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Single Product -->
            <div
              class="col-12 col-sm-6 col-lg-4"
              *ngFor="
                let pd of products
                  | slice: (page - 1) * pageSize:page * pageSize
              "
            >
              <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                  <img src="{{ pd.productImg }}" alt="" />
                  <!-- Hover Thumb -->
                  <img class="hover-img" src="{{ pd.thumbImage }}" alt="" />

                  <!-- Product Badge -->
                  <div class="product-badge offer-badge">
                    <span>-30%</span>
                  </div>
                  <!-- Favourite -->
                  <div class="product-favourite">
                    <a
                      href="javascript:void(0);"
                      class="favme fa fa-heart"
                      (click)="addTowishlist(pd, pd.id); onAddHeart()"
                    ></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description">
                  <span>{{ pd.productName }}</span>
                  <a>
                    <h4>{{ pd.productDetails }}</h4>
                  </a>
                  <p class="product-price">
                    <span class="old-price"> {{ pd.productPrice }}</span>
                  </p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <a
                        [routerLink]="['/productDetails', pd.id]"
                        class="btn essence-btn"
                        (click)="addToCart(pd, pd.id)"
                        >Add to Cart</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->

        <!-- <ul class="mt-50 mb-70" > -->
        <ngb-pagination
          [collectionSize]="products ? products.length : 9"
          [(page)]="page"
          [pageSize]="pageSize"
        >
        </ngb-pagination>
        <!-- </ul> -->
      </div>
    </div>
  </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
