.hidden {
    visibility: hidden;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after {
    width: 8px !important;
    height: 8px !important;
    top: 8px !important;
    left: 8px !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
    width: 23px !important;
    height: 23px !important;
    top: -12px !important;
}