/* You can add global styles to this file, and also import other style files */

@import '~jquery-nice-select/css/nice-select';
body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    margin-top: 85px;
}